doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MISOCIAL - SOCIAL MARKETING & ANALYTICS
        link(rel="stylesheet", href="css/styles.css")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
    body 
        include components/mixins       
        header 
            .wrapper 
                +menu(mainMenu)
                h1.shortDesc SOCIAL MARKETING & ANALYTICS
                h2 Pricing Table
                .descript 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                a.plans-a(href="#plans")
                    .slide
        main 
            .plans#plans 
                .wrapper 
                    h2.shortDesc MIsocial
                    h3.title Select a Plan
                    .descript
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                    .figures 
                        +cards(cardsInfo.satelite)
                        +cards(cardsInfo.mars)
                        +cards(cardsInfo.rocket)
            .bannerStart 
                .wrapper
                    h3.shortDesc SOCIAL MARKETING & ANALYTICS
                    h2.title Take control of your data
                    .buttons
                        ul.dark
                            li
                                a.buttonStart(href="#") GET STARTED
                        ul.light
                            li
                                a.buttonStart(href="#") explore features
        footer 
            .wrapper
                .footerNav 
                    +menu(mainMenu, "dark")
                .copy
                    .copyright 
                        p &copy  2017 Mass Impressions & Tranmautritam. Make the right impression.
                    .sociality 
                        ul 
                            li 
                                a.fb(href="#")
                            li 
                                a.tw(href="#")
                            li
                                a.goog(href="#")
                            li
                                a.inst(href="#")

script.
    const burger = document.querySelector('.burger'); // Змінено з getElementById на querySelector з класом '.burger'
    const menu = document.querySelector('ul.menu');
    burger.addEventListener('click', function() {
    burger.classList.toggle('active');
    });
    burger.addEventListener('click', function() {
    menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
    });

